@{
}
<p class="lead">
    We organize indoor events year round and outdoor events during the warmer months throughout the greater 
    Philadelphia area, including Philly neighborhoods like Queen Village, Fairmount, Manayunk, University City, 
    and North Philadelphia East.
</p>
<p>
    <strong>What to expect:</strong> A pick-up game is a game that has been spontaneously started by a group of 
    players. Players are invited to show up beforehand by RSVPing on this site. Unlike league play there is no 
    sense of obligation or commitment to play. Most of our players have at least some experience playing 
    volleyball. Certain events have an expected minimum skill level and tend to have some seriousness even at an
    intermediate level. We do not currently have any indoor recreational events. Members self-declare their skill 
	level are expected to only attend events that do not exceed that level.
</p>
<p>
    <strong>Fees:</strong> Indoor events will have a fully refundable additional fee to attend because the facilities are not free 
    to use. These fees encourage more engaged members, provide supplies or equipment, pay for venues, and cover 
    other web-related expenses.
</p>
<p>
    We use an app best suited for pickup sports named <a href="//opensports.net"><em>OpenSports</em></a>. It is 
    available in your favorite app store.
</p>
<p>
    Like us on <a href="//fb.me/PhiladelphiaVolleyball">Facebook</a>, follow us on 
    <a href="//instagram.com/PhillyVolleyball">Instagram</a> and <a href="//twitter.com/PhillyVolley">Twitter</a>, 
    and join the discussion with our members in our <a href="//facebook.com/groups/PhiladelphiaVolleyball">Facebook Group</a>.
</p>
<p>Thanks, and hope to see you on the court!</p>
