@page
@{
    ViewData["Title"] = "FAQ";
}

<h2>FAQ</h2>

<dl>
    <dt>How do I join an event?</dt>
    <dd>Download <a href="https://opensports.net" title="link to OpenSports website">OpenSports</a> from your phone's store, create an account, setup your profile with a volleyball "sport card", then use the <strong style="color:lawngreen" class="h5">O</strong> button on the menu to find events near you.</dd>

    <dt>Do I need to be invited by someone or may I just show and play?</dt>
    <dd>You must have a reservation on <em>OpenSports</em> to attend. Most open gym pickup volleyball venues in Philadelphia are single courts. Because of this, we limit attendance to ensure everyone attending has a good time and gets to play at least two-thirds of the time.</dd>

    <dt>I noticed each event targets a skill level. How do you ensure players meet the skill level described in the event description?</dt>
    <dd>
        <p>We encourage our members to honestly declare their skill level on their <em>OpenSports</em> profile. That is usually enough for most players to only attend events appropriate for them. On occasion, when a player doesn't meet the skills required for an event, they are politely messaged to attend events appropriate for them.</p>
        <p>It is never our intent to offend and it is a delicate task to even ask a player to attend a more appropriate event, but at the same time it is our mission at Philadelphia Volleyball to do our best to give our attendees an experience close to the skill level described for each event. As a group that organizes events for the public we cannot guarantee the skill level will always be perfect, but more often than not we think you'll find the events fun and to your liking.</p>
        <p>It is common for a player asked to attend a more appropriate for their skill to defend themselves by saying they've played with so-and-so before to justify their attendance. Our events target players that meet a "&lt;skill level&gt; or <em>better</em>" so some better attendees play down a level. Remember not to judge your skill level by the attendees with whom you play, instead judge yourself to skill level in the event description.</p>
    </dd>

    <dt>I used to play volleyball, but it's been a while. Where do I start?</dt>
    <dd>We recommend you read the event description for skill level information. If the descriptions don't help, then simply start low, and if the event is too easy, play up a level and repeat till you feel satisfied with the play.</dd>

    <dt>Is there a wait list or a way to be notified when a spot becomes available in a formerly full event?</dt>
    <dd><em>OpenSports</em> is currently developing that native capability, but in the meantime we schedule <em>special</em> events we call Notify Lists. The events have a yellow cover and are not a ticket to attend the main event. When an spot opens in the main event, it is the members of this <em>special</em> event that are notified. They are directed to join the main event first, then cancel on the "notify list" event.</dd>

    <dt>Refunds. Do you give them? How do they work?</dt>
    <dd>
        <p>We do give full refunds if the attendee cancels at least one hour before the event begins.  That being said, an attendee should cancel as early as possible for two reasons, 1) its allow another player to attend giving everyone the best possible experience, and 2) it better funds the group to afford the facilities in which we play, and other expenses.</p>
        <p>Currently, refunds are not automatic. The organizer gets a notice and simply hits a refund button at the first chance they can, assuming it's not an hour before the event starts. If a day passes and you haven't received a notice about the refund, feel free to contact the organizer.</p>
    </dd>

    <dt>How/when are events announced?</dt>
    <dd>
        <p>Members of our <a href="https://opensports.net/@@PhiladelphiaVolleyball" title="link to the group on OpenSports">group</a> on <em>OpenSports</em> receive notices via the native phone apps. The notifications go out to members with skills appropriate or better for the event being announced. We also announce via social media like our <a href="https://fb.com/groups/PhiladelphiaVolleyball">Facebook group</a>, <a href="https://fb.com/PhiladelphiaVolleyball">Facebook page</a>, <a href="https://instagram.com/PhillyVolleyball">Instagram</a>, and <a href="https://twitter.com/PhillyVolley">Twitter</a>.</p>
        <p>We typically announce events 1 week plus 1 hour prior to play. We used to announce them further in advance but they'd fill and players would wait weeks for an opportunity to play. It seems one week prior is fair amount of notice that gives all a chance at attending.</p>
    </dd>


</dl>