@page
@{
    ViewData["Title"] = "FAQ";
}

<h2>FAQ</h2>

<dl>
    <dt><a id="join" class="sr-only">Navigation Link</a>How do I join an event?</dt>
    <dd>Download <a href="https://opensports.net" title="link to OpenSports website">OpenSports</a> from your phone's store, create an account, setup your profile with a volleyball "sport card", then use the <strong style="color:lawngreen" class="h5">O</strong> button on the menu to find events near you.</dd>

    <dt id="rsvp-only">Do I need to be invited by someone or may I just show and play?</dt>
    <dd>You must have a reservation on <em>OpenSports</em> to attend. Most open gym pickup volleyball venues in Philadelphia are single courts. Because of this, we limit attendance to ensure everyone attending has a good time and gets to play at least two-thirds of the time.</dd>

    <dt><a id="skill-targets" class="sr-only">Navigation Link</a>I noticed each event targets a skill level. How do you ensure players meet the skill level described in the event description?</dt>
    <dd>
        <p>We encourage our members to honestly declare their skill level on their <em>OpenSports</em> profile. That is usually enough for most players to only attend events appropriate for them. On occasion, when a player doesn't meet the targeted skill level for an event, they are politely messaged to attend events appropriate for them.</p>
        <p>It is never our intent to offend and it is a delicate task to even ask a player to attend a more appropriate event, but at the same time it is our mission at Philadelphia Volleyball to do our best to give our attendees an experience close to the skill level described for each event. As a group that organizes events for the public we cannot guarantee the skill level will always be perfect, but more often than not we think you'll find the events fun and to your liking.</p>
        <p>Remember not to judge your skill level by the attendees with whom you play, instead judge yourself in relation to the skill level in the event description.</p>
    </dd>

    <dt><a id="skill-levels" class="sr-only">Navigation Link</a>How does Philadelphia Volleyball define its skill levels?</dt>
    <dd>
        <p>Our definitions are based on an Internet <a href="https://www.meetup.com/AtlantaVolleyball/messages/boards/thread/6310820#25315500">discussion</a> that applies better to indoor volleyball, but these are the guidelines we've been going by for a few years now.</p>
        <p>A "Beginner" should know the <a href="https://www.youtube.com/watch?v=CRYhZw_swuc">basics of volleyball</a>, and played some volleyball before, but they are just beginning to <a href="http://www.youtube.com/watch?v=0dAYuT0rZlw">bump</a>, <a href="http://www.youtube.com/watch?v=CMsj9iW6toI">set</a>, and <a href="https://www.youtube.com/watch?v=FMtUqoxfR50">spike</a>. They should not join an event which includes "BB" or "A" level players.</p>
        <p>A "B" player is still in the early learning stages of the game but knows the skills. They know how to bump, set (a little), and spike, but have a lot of practice yet to go to be able to do these skills consistently. A "B" player makes mistakes often.</p>
        <p>A "BB" player knows where to be on the court at all times when plays are developing. They know where to be when the opponent is hitting. They know the footwork of and how to approach hitting effectively. A "BB" player knows how to run a 5-1, a 6-2, and needlessly, a 4-2.</p>
        <p>An "A" player knows all the skills extremely well but cannot always execute the super-high level plays extremely effectively all the time. They can run combination plays in a basic way if passes are good that include slides, tandems, x's, crosses, and back-row hitting.</p>
        <p>A "AA" player is Nearly Olympic or at least able to dig an Olympic Player's attack or able to once in a while put a ball down as a hitter against an Olympic Team. Realistically, no one can ever put a ball down against an Olympic defense, but an adult AA team would be able to beat a college Division I team of their same sex at least some of the time.</p>
    </dd>

    <dt><a id="start" class="sr-only">Navigation Link</a>I used to play volleyball, but it's been a while. Where do I start?</dt>
    <dd>We recommend you read the event description for skill level information. If the descriptions don't help, then simply start low, and if the event is too easy, play up a level and repeat till you feel satisfied with the play.</dd>

    <dt><a id="wait-list" class="sr-only">Navigation Link</a>Is there a wait list or a way to be notified when a spot becomes available in a formerly full event?</dt>
    <dd>When an event fills on <em>OpenSports</em>, the wait list automatically enables. It is an ordered wait list that adjusts the interval to claim an open spot based on the time left before game-time. If the opportunity to claim the spot passes, the next wait list person is notified, and you are moved to the end of the wait list. More than a day before the event, the claim window is two hours. The day of the event, the claim window is 30 minutes. In the last hour before the event, anyone may claim the spot.</dd>

    <dt><a id="refunds" class="sr-only">Navigation Link</a>Refunds. Do you give them? How do they work?</dt>
    <dd>
        <p>We do give full refunds if the attendee cancels at least one hour before the event begins.  That being said, an attendee should cancel as early as possible for two reasons, 1) it allows another player to attend giving everyone the best possible experience, and 2) a full event better funds the group to afford the facilities in which we play, and other expenses.</p>
        <p>Currently, refunds are not automatic. The organizer gets a notice and simply hits a refund button at the first chance they can, assuming the cancellation occurred more than an hour before the event starts. If a day passes and you haven't received a notice about the refund, feel free to contact the organizer.</p>
    </dd>

    <dt><a id="notices" class="sr-only">Navigation Link</a>How/when are events announced?</dt>
    <dd>
        <p>Members of our <a href="https://opensports.net/@@PhiladelphiaVolleyball" title="link to the group on OpenSports"><em>OpenSports</em> group</a> receive notices via their native phone app. The notifications go out to members with the targeted skill levels for the event. We also announce via social media like our <a href="https://fb.com/groups/PhiladelphiaVolleyball">Facebook group</a>, <a href="https://fb.com/PhiladelphiaVolleyball">Facebook page</a>, <a href="https://instagram.com/PhillyVolleyball">Instagram</a>, and <a href="https://twitter.com/PhillyVolley">Twitter</a>.</p>
        <p>We typically announce events 1 week plus 1 hour prior to play. We used to announce them further in advance but they'd fill and players would wait weeks for an opportunity to play. It seems one week prior is fair amount of notice that gives all a chance at attending.</p>
    </dd>


</dl>