@page
@{
}

<a class="os-iframe-link" href="https://opensports.net/iframe/@@PhiladelphiaVolleyball/events">OpenSports</a>

@section HeadClose {
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
}
@section BodyClose {
    <script src="https://opensports.net/dist/iframe.min.js" crossorigin="anonymous"></script>
    <script>twemoji.parse(document.body);</script>
}
