@page
@{
    ViewData["Title"] = "Philadelphia VolleyBRAWL";
}

@section Jumbotron {
    <div class="jumbotron bg-primary">
        <div class="container text-center" style="color: #cdbfe3;">
            <div>
                <img src="/img/VolleyBRAWL.png" style="max-height:245px;">
            </div>
            <p class="lead">Penn Treaty Park · May 5-6 · 8:30-5pm</p>

        </div>
    </div>
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#about" data-toggle="tab" role="tab">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#rules" data-toggle="tab" role="tab">Rules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#officiating" data-toggle="tab" role="tab">Officiating</a>
    </li>
</ul>

<div class="tab-content">
    <div id="about" class="tab-pane active" role="tabpanel">
        <p class="lead">
            Philadelphia VolleyBRAWL is an all new social doubles volleyball tournament organized by friends of the Philadelphia Volleyball community for both recreational and competitive volleyball playing friends in the area.
        </p>
        <p>
            <i class="fa fa-calendar"></i> Saturday, May 5 &ndash; Sunday, May 6 &middot; 8am &ndash; 5pm
        </p>
        <address><i class="fa fa-map-marker"></i> Penn Treaty Park, 1301 N Beach St, Philadelphia, PA 19125</address>
        <ul class="list-unstyled">
            <li>
                Saturday Divisions
                <ul>
                    <li>Men's A Doubles <a href="http://phlvb.com/rycto11qz">[JOIN]</a></li>
                    <li>Women's A Doubles <a href="http://phlvb.com/BJwrnyy9M">[JOIN]</a></li>
                    <li>Men's BB Doubles <a href="http://phlvb.com/BJ1mp11cG">[JOIN]</a></li>
                    <li>Women's BB Doubles <a href="http://phlvb.com/H19t2kycM">[JOIN]</a></li>
                </ul>
            </li>
            <li>
                Sunday Divisions
                <ul>
                    <li>Coed A Doubles <a href="http://phlvb.com/rkw7AJ1qM">[JOIN]</a></li>
                    <li>Coed BB Doubles <a href="http://phlvb.com/HyVWJx1qf">[JOIN]</a></li>
                    <li>Coed B Doubles <a href="http://phlvb.com/Hkg9Jgkqz">[JOIN]</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="rules" class="tab-pane" role="tabpanel">
        <p class="lead">Some rules may differ other commonly-used rule sets. Please make sure to read through the rules thoroughly before playing.</p>
        <ul class="list-unstyled">
            <li>
                <h5>SCORING</h5>
                <ul>
                    <li>
                        Points are only scored by the serving team.
                    </li>
                    <li>
                        To win a game, the first team to score 15 points by side-out scoring with a minimum lead of 2 points. There is no cap.
                    </li>
                    <li>
                        Whenever a team fails in its service or fails to return the ball, or commits any other fault,
                        the opposing team wins the rally, with one of the following consequences:
                        <ul>
                            <li>If the opposing team served, it scores a point and continues to serve.</li>
                            <li>
                                If the opposing team received the service, it gains the right to serve, but not a
                                point.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h5>SETTING</h5>
                <ul>
                    <li>Strict double contact calls will be made when the ball does not contact both hands simultaneously or when the ball rotates more than one and half times. This will be further known as a clean set.</li>
                    <li>First contact may be an open-handed set only if it is to receive a non-serve hard-driven ball.</li>
                    <li>Open-hand receives where only the palms simultaneously contact the ball are allowed. An open-hand receive is to be considered a normal pass.</li>
                    <li>In B division, hand setting is not permitted.</li>
                </ul>
            </li>
            <li>
                <h5>BLOCKING</h5>
                <ul>
                    <li>Part of the blocker’s body must be above the net when the contact with the ball occurs.</li>
                    <li>Blocking or deflecting the ball is okay.  Redirecting the ball with fingertips is not allowed</li>
                    <li>Screens are not allowed. The opponent may request a screening player move sideways or bend down.</li>
                    <li>Blocking does not count as part of the three touch play.</li>
                </ul>
            </li>
            <li>
                <h5>NET RULES</h5>
                <ul>
                    <li>Any player contact with the net or poles will result in the opposing team winning the rally in a side-out scoring. Touching the guy wires is allowed.</li>
                    <li>Poles are considered antennas for the purposes of determining whether a ball crossed over the net within the playing area.</li>
                    <li>Any equipment issues with the net or court results in an immediate re-do of the point. A player may not purposely cause such an issue.</li>
                </ul>
            </li>
            <li>
                <h5>OTHER RULES</h5>
                <ul>
                    <li>No let serves.</li>
                    <li>Open-hand tips are not allowed meaning fingertips cannot guide the ball except while blocking. Swings, knuckle pokes, and bumps are allowed.</li>
                    <li>The service toss may be dropped anywhere with no fault once per point. A subsequent drop of the service toss results in a loss of point for the serving team.</li>
                    <li>A team determined to be out of serving order will not be awarded the point and cause a re-do. Subsequent service order faults will result in a loss of the point.</li>
                    <li>Unsportsmanlike conduct and/or disrespect by anyone may cause the person to be disqualified from a game, a set, the tournament, or may be asked to leave the event without a refund.</li>
                    <li>The courtesy rule is in effect for the coed BB & B levels, meaning the male may serve the female once every serving rotation (using 1/3 of the court as to not penalize serves down the middle).  A second serve to the female results in a side out (service turn over).</li>
                    <li>Jump serves are not allowed in B levels meaning one foot must remain on the ground while serving. This includes jump floats.</li>
                    
                </ul>
            </li>
        </ul>

        <small>CRUSH Volley &amp; Pottstown Rumble were the source of these rules.</small>
    </div>
    <div id="officiating" class="tab-pane" role="tabpanel">
        <p class="lead">Sitting teams will provide at least one player to officiate. In the playoffs, the losing team will provide an official for the next round.</p>
        <p>Teams may ask for officials to clarify a rule, but the official's call will stand. Any disputes should be brought to the event organizers.</p>
        <p>Matches will start on-time according to the schedule. After a 2-minute courtesy, there is a 1 point penalty per minute. After 10 minutes, the first game will be forfeit. After 20 minutes the match will be forfeit. Matches will not exceed the scheduled end-time.</p>
    </div>
</div>

@section HeadClose {

}
